/******************/
/* Footer Section */
/******************/

footer {
  background-color: #f2f2f2;

  /* animation: BackgroundGradient 30s ease infinite; */
  margin: 0;
  /* padding-top: 1.5em;
  padding-bottom: 1em;
  padding-left: 1em; */

  text-align: center;
}

#footer1,
#footer2 {
  margin: 0 2em;
  padding-top: 1em;
}

#footer1 p,
#footer1 div,
#footer2 p {
  padding: 0.8em;
}

footer div img {
  width: 5%;
}

.layout p,
.layout h4 {
  margin: 0;
}

/* Following is for "sticky" footer */
.wrapper {
  /* Flex is used to push the footer to the bottom of the page.*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Required for flex box to push footer to page bottom */
  min-height: 100vh;
}

.hero {
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

/* @media (orientation: landscape) {
  .layout p {
    margin-left: 2.5em;
  }
} */
