.logo {
  /* height: 70px; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.logo-item {
  margin: 1em 2em;
  /* margin-bottom: 1.5em; */

  width: 100px;
}

.logo-item img {
  /* margin: 1em;
  margin-left: 2em; */
  /* margin: 1em; */
  /* border: 1px solid olive; */
}

nav {
  margin: 0;
  padding: 1.5em 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
}

nav button {
  margin: 0;
  border: none;
  background-color: inherit;
}

.btn-hamburger {
  margin-right: 0.5em;
  width: 65px;
}

.harmburger-img {
  margin: 0;
  padding: 0;
  width: 100%;
  /* border: 1px solid olive; */
}

@media (orientation: landscape) {
  .logo-item {
    margin: 1em 4em;
  }
  .btn-hamburger {
    margin-right: 3.5em;
    width: 50px;
  }
}
