.wrapper {
  display: block;
}
/* sidebar nav */
#dismiss img {
  width: 30px;
}
#sidebar {
  /* justify-content: space-around; */
  /* padding: 2em; */

  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  /* top layer */
  z-index: 9999;

  margin-right: -120%;
  background-color: #222222;
}

#sidebar.active {
  margin-right: 0px;
}

#sidebar-links {
  /* margin: 4em; */
  /* align-self: center; */

  padding: 5em;
  border: 1px solid black;

  /* height: 100vh; */

  text-align: center;
}

#sidebar-links li {
  margin-top: 1em;
  padding: 1em 0;
}

#sidebar-links img {
  /* padding: 1em; */
  width: 18%;
}

#sidebar-links a {
  color: #eeeeee;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}

/* **************************************** */
/********** Hero - Section styling *********
/* **************************************** */

*/ .hero-section {
}

.container-page {
  max-width: 100%;
  margin: 0;
  /* padding: 1em 1em; */

  text-align: center;
  /* border: 1px solid black; */
}

.hero {
  min-height: 90vh;

  display: flex;
  flex-direction: column;
}

/* left container - hero section */

.container-left {
  margin: auto 2em;
  padding-top: 5em;

  max-width: 100%;
  /* border: 1px solid grey; */
}

.container-left p,
.container-left div {
  padding-top: 2em;
}

.formSeeker {
  /* width: 40%; */
  /* max-width: 60%; */
}

.InputAddOn {
  display: flex;

  width: 100%;
}

.InputAddOn-field {
  padding: 0.9em;
  /* width: 45%; */
  flex: 1;
  /* field styles */
}

.InputAddOn-item {
  padding: 0.9em;

  width: 50%;
  /* item styles */
  background-color: #cc0099;
}

button {
  border: none;
}

/* right container - hero section  */

.container-right {
  /* width: 100%; */
  /* background-color: #4eb8b4; */

  flex: auto;

  display: flex;
  justify-content: center;

  /* border: 1px solid orange; */
}

.imageStyle {
  padding: 3em;
  margin: auto;
  width: 100%;

  flex: auto;
}

.imageStyle img {
  width: 100%;
}

/* **************************************** */
/********** Expert organisations **********/
/* ****************************************  */

.gallery {
  margin: 3em auto;
  justify-content: center;
}

.img-container {
  padding: 2em;
  padding-top: 3em;
  width: 180px;
  min-height: auto;
  max-height: 180px;

  /* border: 1px solid red; */
}

.img-container img {
  width: 100%;
  height: auto;
  /* display: block; */

  /* border: 1px solid orange; */
}

/* **************************************** */
/********** how it works **********/
/* ****************************************  */
.hiwDetails {
  display: flex;
  flex-direction: column;
}
.hiwBox {
  margin-top: 2em;
  padding: 1em;
}
.hiwBox p {
  padding-top: 2em;
}
.numberBox {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 80px;
  background-color: #222222;
  border: 1px solid yellow;
  color: #ffffff;
}

/* **************************************** */
/********** testimonial **********/
/* ****************************************  */

.testimonial p,
.testimonial .separator {
  padding-top: 2em;
}
.testimonial img {
  border-radius: 10%;
  width: 180px;
}

.separator {
  margin-left: auto;
  margin-right: auto;

  width: 90%;

  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgb(185, 184, 184);
}

.separator::before {
  margin-right: 0.25em;
}

.separator::after {
  margin-left: 0.25em;
}

hr {
  width: 90%;
  border: 0;
  clear: both;
  display: block;
  background-color: rgb(185, 184, 184);
  height: 1px;
}

/* **************************************** */
/********** expert query **********/
/* ****************************************  */

.expertQuery {
  /* border: 1px solid grey; */
}

.expertQuery h2 {
  padding-top: 1em;
}

.expertQuery h2,
.expertQuery p,
.expertQuery div {
  padding-bottom: 1em;
}

.formExpert .InputAddOn {
  margin: 0 auto;

  width: 100%;
}

.formExpert .InputAddOn-field {
  width: 45%;
}

.formExpert .InputAddOn-item {
  width: 50%;
}

@media (orientation: landscape) {
  #sidebar {
    min-width: 40%;
    max-width: 40%;

    margin-right: -60%;
  }

  #sidebar-links img {
    /* padding: 0.em; */
    width: 20%;
  }

  .hero {
    display: flex;
    flex-direction: row;
  }

  .container-page {
    text-align: left;
  }

  .InputAddOn {
    width: 60%;
  }

  /* .InputAddOn-field {
    flex: 1;
  } */

  .InputAddOn-item {
    padding: 0.9em;

    width: 40%;
  }

  .formExpert .InputAddOn {
    width: 60%;
  }

  .formExpert .InputAddOn-item {
    width: 40%;
  }

  .hiwDetails {
    flex-direction: row;
  }
}
