.wrapper {
  display: block;
}
/* sidebar nav */

#sidebar {
  /* justify-content: space-around; */
  /* padding: 2em; */

  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  /* top layer */
  z-index: 9999;

  margin-right: -120%;
  background-color: #f6f6f6;
  /* border: 1px solid; */
}

#sidebar.active {
  margin-right: 0px;
}

#sidebar-links {
  /* margin: 4em; */
  /* align-self: center; */
  padding: 5em;

  height: 100vh;

  text-align: center;
}

#sidebar-links li {
  margin-top: 2em;
  padding: 0.6em 0;
}

#sidebar-links li img {
  /* padding: 1em; */
  margin: auto;
  padding-right: 0.5em;
  width: 22%;
  /* border: 1px solid black; */
}

/* #sidebar-links a {
  color: #a2008a;
} */

#sidebar-links hr {
  width: 100%;
  border: 0;
  clear: both;
  display: block;
  background-color: rgb(134, 130, 130);
  height: 0.5px;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  /* top right corner of the sidebar */
  /* top: 10px;
  right: 10px; */
  top: 2.5em;
  right: 3em;
}

#dismiss img {
  width: 80%;
}

/* **************************************** */
/********** Hero - Section styling *********
/* **************************************** */

/* for maintaining sticky header */
main {
  margin-top: 114px;
}

.container-page {
  max-width: 100%;
  /* margin: 0; */
  /* padding: 1em 1em; */

  text-align: center;
  /* border: 1px solid black; */
}

.hero {
  min-height: 85vh;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
}

/* left container - hero section */

.container-left {
  margin: 2.4em 2em;
  padding-top: 1em;

  text-align: left;

  flex: auto;
  /* border: 1px solid grey; */
}

.container-left p {
  padding-top: 1.5em;
}

.container-left ul {
  padding-top: 1em;
  margin: 0;
  list-style: none;
}

.container-left ul li:before {
  padding-right: 1em;
  content: "✓";
}

.container-left div {
  margin: 0;
  padding-top: 1em;
}

.InputAddOn {
  display: flex;
  width: 100%;
}

.InputAddOn-field {
  padding: 0.9em;
  width: 80%;
  /* width: 65%; */

  border: none;

  /* flex: 1; */
  /* field styles */
}

.InputAddOn-item {
  margin: 0;
  padding: 0em;

  width: 20%;
  /* width: 35%; */
}

/* #seeker .InputAddOn {
  flex-direction: column;
}

#seeker .InputAddOn-field {
  width: 100%;
}

#seeker .InputAddOn-item {
  margin-top: 0.8em;
  padding: 1em;
} */

#seeker button {
  font-size: 1.1em;
}

button {
  border: none;
  color: #ffffff;
}

button:checked {
  border: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c2c2c2;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c2c2c2;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c2c2c2;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #c2c2c2;
}

.space {
  margin-top: 0;
  padding-top: 0;
}

/* right container - hero section  */

.container-right {
  /* width: 100%; */
  /* background-color: #4eb8b4; */

  flex: auto;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* border: 1px solid orange; */
}

.imageStyle {
  padding: 3em;
  text-align: center;

  /* width: 100%; */

  width: 90%;
}

.imageStyle img {
  width: 90%;
}

.colorLine {
  color: #279600;
}

/* **************************************** */
/********** Expert organisations **********/
/* ****************************************  */

.background_1 {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
}

.heading-container {
  /* border: 1px solid orange; */
  margin: 0 auto;
  width: 100%;
}

.gallery {
  /* border: 1px solid grey; */
  margin: 3em auto;

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
}

.img-container {
  margin: auto;
  padding: 2em;
  /* padding-top: 3em; */
  /* height: 70px; */
  width: 50%;

  /* border: 1px solid red; */
}

.img-container img {
  text-align: center;
  width: 100%;
  /* height: 100%; */
  /* display: block; */

  /* border: 1px solid blue; */
}

/* **************************************** */
/********** how it works **********/
/* ****************************************  */
.hiwDetails {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}
.hiwBox {
  margin-top: 2em;
}
.hiwBox p {
  padding-top: 2em;
}
.numberBox {
  margin-left: auto;
  margin-right: auto;
  /* padding: 1em;
  width: 80px; */
  /* background-color: #222222; */
  /* color: #ffffff; */
}

/* **************************************** */
/********** testimonial **********/
/* ****************************************  */

.testimonial p,
.testimonial .separator {
  padding-top: 2em;
}
.testimonial img {
  border-radius: 10%;
  width: 120px;
}

.separator {
  margin-left: auto;
  margin-right: auto;

  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgb(185, 184, 184);
}

.separator::before {
  margin-right: 0.25em;
}

.separator::after {
  margin-left: 0.25em;
} */

/* #test hr {
  width: 90%;
  border: 0;
  clear: both;
  display: block;
  background-color: rgb(185, 184, 184);
  height: 1px;
} */

/* **************************************** */
/********** expert query **********/
/* ****************************************  */

.expertQuery {
  /* border: 1px solid grey; */
}

.expertQuery h2 {
  /* padding-top: 1em; */
}

.tagLine {
  padding-top: 2em;
  padding-bottom: 1em;
}

.expertQuery div {
  margin-bottom: 1em;
}

.formExpert .InputAddOn {
  margin: 0 auto;

  width: 100%;
}

.formExpert .InputAddOn-field {
  width: 80%;
}

.formExpert .InputAddOn-item {
  width: 20%;
}

.spaceLine {
  padding-top: 1em;
}

/* **************************************** */
/********** FAQ Page **********/
/* ****************************************  */

#faq,
#faq-content,
.faq-box {
  display: flex;
  flex-direction: column;
}
#faq {
  margin: 4em 2em;
}

#faq h2 {
  margin-bottom: 1em;
}

#faq button {
  /* border: none; */
  outline: none;
  /* border: 1px solid #d6d6d6; */
}

.faq-box {
  margin-top: 1em;
}

#accordion {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.accordion-left {
  width: 100%;
}

.accordion-right {
  margin-top: 1em;
  padding-top: 1em;
  width: 100%;
}

.content {
  display: none;
}

.accordion-button {
  -webkit-appearance: none;
  background-color: #f2f2f2;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;

  outline: none;
  transition: 0.4s;
  font-size: inherit;
  font-weight: bold;
}

.accordion-title {
  padding: 1em 1.5em 1em 0;
  color: #cc0099;
}

.accordion-content {
  padding: 1em 18px;
  width: 100%;
  text-align: left;

  background-color: white;
  display: none;
  overflow: hidden;
  margin: auto;
}
.accordion-content ol {
  padding-top: 0.4em;
}
.accordion-content ol li {
  padding: 0.3em;
}

/* #acc .accordion-content {
  display: none;
}
#acc .active .accordion-content {
  display: block;
}
#acc .active .accordion-button {
  background-color: white;
  border: none;
} */

/* #accordion ul li a {
  display: block;
}

.accordion-content {
  display: none;
} */

/* .panel :first-child div {
  display: block;
} */

.accordion-content:target {
  display: block;
}

#accordion ul li:first-of-type div {
  display: block;
  border-top: 3px solid #ffcdcd;
}

/* **************************************** */
/********** signup QUERY PAGE **********/
/* ****************************************  */
.interviewer-signup-container,
.signup-container {
  display: flex;
  flex-direction: column;
}

.signupContainer-left {
  margin: 3em 2em;
  margin-bottom: 2em;
  /* flex: auto; */
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
}

.signupContainer-left form {
  margin-top: 2em;

  display: flex;
  flex-direction: column;
}

/* .signupContainer-right {
  margin: auto;
  margin-right: 2em;
  margin-bottom: 2em;
  text-align: center; */
/* border: 1px solid blue; */
/* 
  flex: auto;
} */

/* .signup-imageStyle {
  margin: auto;
}

.signup-imageStyle img {
  width: 100%;
} */

.signup-container p {
  padding: 1em 0;
}

#interviewer-signup button,
#signup button {
  margin-top: 0.5em;
  width: 60%;
  padding: 0.9em;

  color: #ffffff;
  font-size: bold;
}

.formsignupDetails {
  background-color: white;
}

.interviewer-formsignupDetails ul,
.formsignupDetails ul {
  display: flex;
  flex-direction: column;
}

.interviewer-formsignupDetails ul li,
.formsignupDetails ul li {
  margin-top: 1.2em;

  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .ex-input {
  width: 100%;
  border: 1px solid orange;
} */

.interviewer-formsignupDetails label,
.formsignupDetails label {
  margin: 0;
  padding-bottom: 0.2em;
}
.interviewer-formsignupDetails input,
.interviewer-formsignupDetails textarea,
.interviewer-formsignupDetails option,
.interviewer-formsignupDetails select,
.formsignupDetails input,
.formsignupDetails textarea,
.formsignupDetails select,
.formsignupDetails option {
  padding: 0.4em 0;
  border: none;
  /* border-top: 1px solid blue; */
  border-bottom: 0.5px solid #dddddd;

  font-family: inherit;
  /* font-size: 1em; */

  width: 100%;
  background-color: transparent;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #279600 !important;
}

#interviewer-signup input,
#signup input,
#signup textarea {
  color: #279600;
}

.interviewer-formsignupDetails select,
.formsignupDetails select {
  -webkit-appearance: none;
  color: #c2c2c2;
}

.interviewer-formsignupDetails select option,
.formsignupDetails select option {
  color: #222222;
}
.interviewer-formsignupDetails select option:first-child,
.formsignupDetails select option:first-child {
  color: #c2c2c2;
}

/* **************************************** */
/********** THANK YOU PAGE **********/
/* ****************************************  */

.thankyou-container {
  margin-top: 11em;
  margin-bottom: 2em;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 70vh;
}

.thankyouContainer-left {
  margin: 2em 2em;
  margin-bottom: 2em;
  max-width: 100%;
  /* border: 1px solid grey; */

  display: flex;
  flex-direction: column;
}

.thankyouContainer-left h2 {
  padding-bottom: 1em;
}
.thankyouContainer-left p {
  padding: 0.5em 0;
}

.thankyouContainer-right {
  /* margin: 0; */
  margin-right: 2em;
  align-self: center;
  width: 60%;

  /* border: 1px solid blue; */

  flex: auto;

  /* border: 1px solid yellow; */
}

.thankyou-imageStyle {
  margin: auto;

  /* border: 1px solid black; */
}

.thankyou-imageStyle img {
  width: 100%;
}

/* **************************************** */
/********** Interviewer Signup page **********/
/* ****************************************  */

.interviewer-signupContainer-left {
  margin: 3em 2em;

  text-align: left;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.interviewer-signupContainer-left h2,
.interviewer-signupContainer-left p {
  /* flex: auto;
  padding: 1em; */
}

.interviewer-signupContainer-right {
  margin: 2em 2em;
  margin-top: 1em;
  /* border: 1px solid green; */

  display: flex;
  flex-direction: column;
}

.boxBackground {
  margin-left: 0;
  margin-right: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.5em;

  width: 100%;

  background-color: #f6f6f6;
}

#interviewer-signup {
  width: 100%;
  /* border: 1px solid red; */
}

#interviewer-signup ul li {
  width: 100%;
}

#interviewer-signup button {
  width: 100%;
}

/* **************************************** */
/********** INTERV - THANK YOU PAGE **********/
/* ****************************************  */

.intThankyou-container {
  margin: 4em 2em;

  min-height: 55vh;
  display: flex;
  flex-direction: column;
}

.intThankyou-container h2 {
  margin-top: 2em;
  padding-bottom: 1em;
}

/* **************************************** */
/********** ABOUT PAGE **********/
/* ****************************************  */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

.aboutContainer-left {
  margin: 3em 2em;
  max-width: 100%;

  display: flex;
  flex-direction: column;
}

.aboutContainer-left h2 {
  margin: 1em 0;
}

.aboutContainer-left p {
  padding: 0.1em 0;
  width: 100%;
}

.aboutContainer-left div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.aboutContainer-right {
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 3em;
  align-self: flex-start;

  flex: auto;

  /* border: 1px solid yellow; */
}

.about-imageStyle {
  text-align: center;

  /* border: 1px solid black; */
}

.about-imageStyle img {
  width: 70%;
}

/* **************************************** */
/********** T&C  **********/
/* ****************************************  */

.tc {
  margin: 12em 2em;
  margin-bottom: 3em;

  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.tc-heading {
  margin-bottom: 1em;
}

.tc-content h2 {
  margin-bottom: 1em;

  font-size: 1.4em;
}

.tc-content h3 {
  font-size: 1.2em;
}

/* **************************************** */
/********** 404 Page **********/
/* ****************************************  */

.container-404 {
  margin: 4em 4em;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.container-404 div {
  margin-top: 2em;
}
.container-404 h3,
.container-404 p {
  margin-top: 0.6em;
}

.Style404 img {
  width: 50%;
}

.container-404 button {
  margin: 1em auto;
  padding: 0.6em;
  width: 100%;
}

@media (orientation: landscape) {
  /* index page */
  #sidebar {
    min-width: 40%;
    max-width: 40%;

    margin-right: -60%;
  }

  #sidebar-links li img {
    width: 16%;
  }

  .hero {
    display: flex;
    flex-direction: row;
  }

  .container-page {
    text-align: left;
  }

  .container-left {
    margin: auto 4em;
    margin-right: 0;

    text-align: left;

    width: 60%;
    /* border: 1px solid green; */
  }

  .container-left p {
    width: 80%;
  }

  .container-right {
    margin: auto 4em;
    margin-left: 0;

    width: 40%;
    /* border: 1px solid green; */
  }

  .InputAddOn {
    width: 65%;
    /* border: 1px solid black; */
  }

  .InputAddOn-field {
    flex: 1;
    width: auto;
    /* height: 50px; */
  }

  .InputAddOn-item {
    padding: 0.9em;

    width: 40%;
    /* height: 50px; */
  }

  #seeker .InputAddOn {
    flex-direction: row;
  }

  #seeker .InputAddOn-field {
    width: 50%;
  }

  #seeker .InputAddOn-item {
    margin-top: 0;
    padding: 0;
  }

  #seeker button {
    font-size: 1.1em;
  }

  .formExpert .InputAddOn {
    width: 60%;
  }

  .formExpert .InputAddOn-item {
    width: 40%;
  }

  .heading-container {
    /* border: 1px solid orange; */
    margin: 0 auto;
    width: 70%;
  }

  .hiwDetails {
    flex-direction: row;
  }

  .hiwBox {
    flex: 1 1 0;
    margin-right: 1.5em;
  }

  .hiw-box-width {
    margin: 0 auto;
    width: 90%;
  }

  .gallery {
    margin: 0;
    margin-top: 1.7em;
    flex-direction: row;
    /* flex-wrap: wrap; */
  }

  .img-container {
    margin: 0;
    padding: 2.2em;
    /* padding-top: 3em; */
    height: 100px;
    width: auto;
    /* max-width: 30%; */

    /* border: 1px solid red; */
  }

  .img-container img {
    text-align: center;
    width: auto;
    height: 90%;
    /* display: block; */

    /* border: 1px solid blue; */
  }

  #seeker2 .InputAddOn-field {
    width: 50%;
  }

  #seeker2 .InputAddOn-item {
    margin-top: 0;
    padding: 0;
  }

  #seeker2 button {
    font-size: 1.1em;
  }

  /* faq page */
  #faq {
    margin: 4em 4em;
    margin-top: 11em;
  }

  #accordion {
    flex-direction: row;
  }

  .accordion-left {
    margin-right: 1em;
    padding-right: 2em;
    width: 60%;
  }

  .accordion-right {
    padding-left: 2em;
    padding-top: 0;
    width: 40%;
  }

  .rightBox-faq {
    padding: 2em;
    background-color: #f6f6f6;
  }

  /* signup page */
  .interviewer-signup-container,
  .signup-container {
    flex-direction: row;
  }

  .signupContainer-left {
    margin: 3em 4em;
    /* border: 1px solid blue; */
    width: 50%;
  }

  /* .signupContainer-right {
    margin-right: 4em;
    margin-bottom: auto;
    flex: 1.5;
  } */

  .interviewer-formsignupDetails ul,
  .formsignupDetails ul {
    display: flex;
    flex-direction: column;
  }

  .formsignupDetails ul li {
    width: 70%;
  }

  /* thank you page */

  .thankyou-container {
    margin-top: 8em;

    flex-direction: row;
  }

  .thankyouContainer-left {
    margin: 2em 4em;
    width: 50%;
  }

  /* .thankyouContainer-right {
    width: 50%;
  } */

  /* interviewer signup page */

  .interviewer-signup-container {
    margin-bottom: 2em;
  }

  .interviewer-signupContainer-left {
    margin-left: 4em;
    margin-right: 1em;
    text-align: left;
    width: 50%;
  }

  .interviewer-signupContainer-right {
    margin: 3em 4em;
    margin-left: 2em;
    /* padding-left: 5em; */
    width: 50%;
  }

  .boxBackground {
    margin: auto;
    margin-right: 0;
    padding-left: 3em;
    padding-right: 2em;
    padding-top: 1.5em;

    width: 90%;

    background-color: #f6f6f6;
  }

  #interviewer-signup ul li {
    width: 90%;
  }

  #interviewer-signup button {
    width: 60%;
  }

  /* interv -thankyou page */

  .intThankyou-container {
    margin: 4em 4em;

    min-height: 55vh;
  }

  .intThankyou-container h2 {
    margin-top: 2em;
    padding-bottom: 1em;
  }

  /* about page */

  .about-container {
    flex-direction: row;
  }

  .aboutContainer-left {
    margin: 3em 4em;
    max-width: 50%;

    display: flex;
    flex-direction: column;
  }

  .aboutContainer-left p {
    /* text-align: justify;
    text-justify: inter-word; */
  }

  .aboutContainer-right {
    margin-top: 4em;
  }

  .about-imageStyle img {
    width: 80%;
  }

  /* t&c */

  .tc {
    margin: 12em 4em;
    margin-bottom: 5em;
  }

  /* 404 page */

  .Style404 img {
    width: 15%;
  }

  .container-404 div,
  .container-404 h3,
  .container-404 p {
    margin-top: 1em;
  }

  .container-404 p {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .container-404 button {
    margin: 1em auto;
    padding: 0.8em;
    width: 20%;
  }
}
