.wrapper {
  display: block;
}
/* sidebar nav */

#sidebar {
  /* justify-content: space-around; */
  /* padding: 2em; */

  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  /* top layer */
  z-index: 9999;

  margin-right: -120%;
  background-color: #f6f6f6;
  /* border: 1px solid; */
}

#sidebar.active {
  margin-right: 0px;
}

#sidebar-links {
  /* margin: 4em; */
  /* align-self: center; */
  padding: 5em;

  height: 100vh;

  text-align: center;
}

#sidebar-links li {
  margin-top: 2em;
  padding: 1em 0;
}

#sidebar-links img {
  /* padding: 1em; */
  width: 18%;
}

#sidebar-links a {
  color: #222222;
}

#sidebar-links hr {
  width: 100%;
  border: 0;
  clear: both;
  display: block;
  background-color: rgb(134, 130, 130);
  height: 0.5px;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  /* top: 10px;
  right: 10px; */
  top: 2em;
  right: 2em;
}

#dismiss img {
  width: 100%;
}

/* **************************************** */
/********** Hero - Section styling *********
/* **************************************** */

/* for maintaining sticky header */
main {
  margin-top: 114px;
}

.container-page {
  max-width: 100%;
  /* margin: 0; */
  /* padding: 1em 1em; */

  /* text-align: center; */
  /* border: 1px solid black; */
}

.hero {
  min-height: 85vh;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
}

/* left container - hero section */

.container-left {
  margin: 3em 2em;
  padding-top: 2em;

  max-width: 100%;
  /* border: 1px solid grey; */
}

.container-left p {
  margin-top: 2em;
}

.container-left div {
  margin-top: 1em;
}

.formSeeker {
  /* width: 40%; */
  /* max-width: 60%; */
}

.InputAddOn {
  display: flex;
  width: 100%;
}

.InputAddOn-field {
  padding: 0.9em;
  width: 50%;

  border: none;
  background-color: #f2f2f2;
  /* flex: 1; */
  /* field styles */
}

.InputAddOn-item {
  margin: 0;
  padding: 0em;

  width: 50%;
  /* item styles */
  background-color: #cc0099;
}

button {
  border: none;
  color: #ffffff;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c2c2c2;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c2c2c2;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c2c2c2;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #c2c2c2;
}

/* right container - hero section  */

.container-right {
  /* width: 100%; */
  /* background-color: #4eb8b4; */

  flex: auto;

  display: flex;
  justify-content: center;

  /* border: 1px solid orange; */
}

.imageStyle {
  padding: 3em;
  margin: auto;
  width: 100%;

  flex: auto;
}

.imageStyle img {
  width: 100%;
}

.colorLine {
  color: #00ff00;
}

/* **************************************** */
/********** Expert organisations **********/
/* ****************************************  */

.background_1 {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
}

.heading-container {
  /* border: 1px solid orange; */
  margin: auto;
  width: 70%;
}

.gallery {
  /* border: 1px solid grey; */
  margin: 3em auto;

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
}

.img-container {
  margin: auto;
  padding: 2em;
  /* padding-top: 3em; */
  /* height: 70px; */
  width: 50%;

  /* border: 1px solid red; */
}

.img-container img {
  text-align: center;
  width: 100%;
  /* height: 100%; */
  /* display: block; */

  /* border: 1px solid blue; */
}

/* **************************************** */
/********** how it works **********/
/* ****************************************  */
.hiwDetails {
  display: flex;
  flex-direction: column;
}
.hiwBox {
  margin-top: 2em;
  padding: 1em;

  flex: 1 1 0;
}
.hiwBox p {
  padding-top: 2em;
}
.numberBox {
  margin-left: auto;
  margin-right: auto;
  /* padding: 1em;
  width: 80px; */
  /* background-color: #222222; */
  /* color: #ffffff; */
}

/* **************************************** */
/********** testimonial **********/
/* ****************************************  */

.testimonial p,
.testimonial .separator {
  padding-top: 2em;
}
.testimonial img {
  border-radius: 10%;
  width: 120px;
}

.separator {
  margin-left: auto;
  margin-right: auto;

  width: 90%;

  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgb(185, 184, 184);
}

.separator::before {
  margin-right: 0.25em;
}

.separator::after {
  margin-left: 0.25em;
}

#test hr {
  width: 90%;
  border: 0;
  clear: both;
  display: block;
  background-color: rgb(185, 184, 184);
  height: 1px;
}

/* **************************************** */
/********** expert query **********/
/* ****************************************  */

.expertQuery {
  /* border: 1px solid grey; */
}

.expertQuery h2 {
  padding-top: 1em;
}

.expertQuery h2,
.expertQuery p {
  padding-bottom: 1em;
}

.expertQuery div {
  margin-bottom: 1em;
}

.formExpert .InputAddOn {
  margin: 0 auto;

  width: 100%;
}

.formExpert .InputAddOn-field {
  width: 50%;
}

.formExpert .InputAddOn-item {
  width: 50%;
}

/* **************************************** */
/********** FAQ Page **********/
/* ****************************************  */

#faq,
#faq-content,
.faq-box {
  display: flex;
  flex-direction: column;
}
#faq {
  margin: 4em 2em;
}

/* #faq h2 {
  margin-top: 1em;
} */

#faq button {
  /* border: none; */
  outline: none;
  border: 1px solid #d6d6d6;
}

.faq-box {
  margin-top: 2em;
}

#accordion {
  width: 100%;
}

.accordion-button {
  -webkit-appearance: none;
  background-color: #f2f2f2;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;

  outline: none;
  transition: 0.4s;
  font-size: inherit;
  font-weight: bold;
}

.accordion-title {
  padding: 1em 1.5em 1em 0;
  color: #cc0099;
}

.accordion-content {
  padding: 1em 18px;
  width: 100%;
  text-align: left;

  background-color: white;
  display: none;
  overflow: hidden;
  margin: auto;
}

/* #acc .accordion-content {
  display: none;
}

#acc .active .accordion-content {
  display: block;
}

#acc .active .accordion-button {
  background-color: white;
  border: none;
} */

#accordion ul li a {
  display: block;
}

.accordion-content {
  display: none;
}

/* .panel :first-child div {
  display: block;
} */

.accordion-content:target {
  display: block;
}

#accordion ul li:first-of-type div {
  display: block;
  border-top: 3px solid #ffcdcd;
}

/* **************************************** */
/********** SEEKER QUERY PAGE **********/
/* ****************************************  */

.seekerquery .container-left {
  /* border: 1px solid blue; */
}

.seekerquery .container-right {
  /* border: 1px solid green; */
}

.seekerquery .imageStyle {
  /* border: 1px solid red; */
}

.formSeekerDetails ul {
  display: flex;
  flex-direction: column;
}

.formSeekerDetails ul li {
  width: 60%;
  display: flex;
  flex-direction: column;
}

/* .ex-input {
  width: 100%;
  border: 1px solid orange;
} */

.formSeekerDetails input,
.formSeekerDetails select,
.formSeekerDetails option {
  margin-top: 0.8em;
  padding: 0.4em 0;

  border: 0;
  /* border-top: 1px solid blue; */
  border-bottom: 0.5px solid #dddddd;

  font-family: inherit;
  /* font-size: 1em; */

  width: 100%;
  background-color: transparent;
}

input:focus,
select:focus {
  outline: none;
}

.formSeekerDetails select {
  color: #dddddd;
}

.formSeekerDetails select option {
  color: #222222;
}

.formSeekerDetails select option:first-child {
  color: #dddddd;
}

@media (orientation: landscape) {
  /* index page */
  #sidebar {
    min-width: 40%;
    max-width: 40%;

    margin-right: -60%;
  }

  #sidebar-links img {
    /* padding: 0.em; */
    width: 20%;
  }

  .hero {
    display: flex;
    flex-direction: row;
  }

  .container-page {
    text-align: left;
  }

  .container-left {
    margin: auto 4em;
    margin-right: 0;
    /* border: 1px solid green; */
  }

  .container-right {
    margin: auto 4em;
    margin-left: 0;
    /* border: 1px solid green; */
  }

  .InputAddOn {
    width: 65%;
    /* border: 1px solid black; */
  }

  .InputAddOn-field {
    flex: 1;
    width: auto;
    /* height: 50px; */
  }

  .InputAddOn-item {
    padding: 0.9em;

    width: 40%;
    /* height: 50px; */
  }

  .formExpert .InputAddOn {
    width: 60%;
  }

  .formExpert .InputAddOn-item {
    width: 40%;
  }

  .hiwDetails {
    flex-direction: row;
  }

  .hiw-box-width {
    margin: 5em auto;
    width: 90%;
  }

  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .img-container {
    margin: 0;
    padding: 2em;
    /* padding-top: 3em; */
    height: 100px;
    width: auto;

    /* border: 1px solid red; */
  }

  .img-container img {
    text-align: center;
    width: auto;
    height: 100%;
    /* display: block; */

    /* border: 1px solid blue; */
  }

  /* faq page */
  #accordion {
    width: 50%;
  }
}
