/* Resets */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* removes defualt bullet-points in lists */
ul {
  list-style-type: none;
  padding-left: 0;
}
/* removes defualt underline in <a> links */
a {
  color: #a2008a;
  text-size-adjust: none;
  text-decoration: none;

  font: inherit;
}

a:hover {
  color: #bb2ea6;
  text-decoration: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
