/* imports */

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* body text */
body {
  font-family: "Inter", sans-serif;

  /* line-height (called leading in print design); browser default is usually 1.2. Try for a minimum of 1.5, max should be less than 2 */
  line-height: 1.2;
  color: #222222;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Serif Pro", serif;
  line-height: 1.2;
  color: #222222;
}

main h1 {
  font-size: 2.4em;
}

main h2 {
  font-size: 1.8em;
}

main p {
  font-size: 1.1em;
}

.about-container p {
  font-size: 1.1em;
}

main button {
  font-size: 1.1em;
  font-weight: 600;

  background-color: #a2008a;
  color: #ffffff;
}

.bold {
  font-weight: 600;
}

.numberBox {
  font-size: 1.5em;
  font-weight: bolder;
}

.tagline {
  /* font-weight: bold; */
}

.font-small {
  font-size: 0.9em;
}

/* button {
  font-family: inherit;
  font-size: 100%;
} */

@media (orientation: landscape) {
  main h1 {
    font-size: 2.6em;
  }

  main h2 {
    font-size: 2rem;
  }
}
